.message {
    display: flex;
    flex-direction: column;
}

.imageAndText {
    color: #ffffff;
    display: flex;
    flex-direction: row-reverse;


}

.imageAndText img {
    width: 48px;
    height: 48px;
   margin-left: 10px;
    object-fit: cover;
    align-self: flex-end ;
}

.text {
    font-weight: 400;
    background-color: #06c;
    padding: 8px 13px;
    max-width: 60%;
    display: inline-block;
    border-radius: 1rem 1rem 0 1rem ;
    position: relative;
    align-self: flex-end;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
}

.text:after {
    content: '';
    position: absolute;
    right: -8px;
    bottom: -4px;
    transform: translateY(-50%);
    border-width: 9px  0  0 9px;
    border-style: solid;
    border-color: transparent transparent transparent #06c;

}

.name {
    font-size: 18px;
    text-align: right;
}

.messageText {
    word-break: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.time {
    font-size: 10px;
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;

}