.greetingForm {
}

.inputAndButtonContainer {
}

.error {
}

.input {
}

.input:focus {
}

.errorInput {
}

.button {
    padding: 5px 15px;
    background: transparent;
    border-radius: 15px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
